.results-top-bg

.results-bottom-bg      
  .row.results-row
    .col-xs-2
    .col-xs-8.info-box
      = render partial: 'pages/results_list', locals: {plans: @plans, page_data: @page_data}
    .col-xs-2

  .row.results-row
    .col-xs-2
    .col-xs-8.info-box
    .col-xs-2
