- content_for(:main) do 
  = form_tag('/page', id: 'pageform') do
    %input{name: 'page_id', type: 'hidden', value: @page_data[:next_page]}  
    - if flash[:my_notice]
      .notice-box
        = flash[:my_notice]

    .input-group
      %input.form-control.zipinput.zipcodecontrol{style: 'height: 82px; font-size: 22px; border-radius: 15px; width: 500px', name: 'zip',  type: 'text', placeholder: 'Enter your ZIP to begin your search', value: session[:current_info]['zip']}

      %span.input-group-btn
        %button.btn.btn-default.submit{style: 'height: 78px; width: 218px; font-size: 22px; background-color: grey'}
          Get Started
