- content_for(:main) do 
  = form_tag('/page', id: 'pageform') do
    %input{name: 'page_id', type: 'hidden', value: @page_data[:next_page]}  
    - if flash[:my_notice]
      .notice-box
        = flash[:my_notice]

    .input-group
      %input.form-control.zipinput.zipcodecontrol{name: 'zip',  type: 'text', placeholder: 'ZIP code', size: '5', value: session[:current_info]['zip'], autofocus: true}

      %span.input-group-btn
        %button.btn.btn-default.submit{}
          Get Started
