- content_for(:main) do 
  %input.agecontrol.form-control{name: 'age',  type: 'text', placeholder: 'Enter your age', value: session[:current_info]['age']}

  (check all that apply):
  .nextline
    .forms-checkbox
      Myself
      = check_box_tag 'shop_for[]', 'myself', (session[:current_info]['shop_for'] && session[:current_info]['shop_for'].include?('myself'))
    .forms-checkbox
      My Children
      = check_box_tag 'shop_for[]', 'my children', (session[:current_info]['shop_for'] && session[:current_info]['shop_for'].include?('my children'))
    .forms-checkbox
      Other Adults  
      = check_box_tag 'shop_for[]', 'other adults', (session[:current_info]['shop_for'] && session[:current_info]['shop_for'].include?('other adults'))
    .inputboxes
      .boxtitle
        Number of Dependents  
      %div
        %input.noc-control.form-control{name: 'number_of_children', type: 'text', value: session[:current_info]['number_of_children'] == 0 ? '' : session[:current_info]['number_of_children'], placeholder: 'Number of children', style: 'line-height: 120%;'}
      %div
        %input.noa-control.form-control{name: 'number_of_adults', type: 'text', value: session[:current_info]['number_of_adults'] == 0 ? '' : session[:current_info]['number_of_adults'], placeholder: 'Number of other adults', style: 'line-height: 120%;'}
      
  %button.btn.btn-default.submit
    Go  
