- content_for :main do
  = "Are there any medical procedures you need? "
  %input{id: 'ongoing_condition', name: 'ongoing_condition', type: 'hidden'}
  = render 'dropdown', {dropdown_id: 'ongoing_condition_choices', dropdown_title: '-select-', options_list: ['Yes', 'No']}
  %p
  %input.largetextarea.autocomplete#procedure_names{name: 'procedure_names[]', type: 'text', disabled: 'true', placeholder: 'Enter the procedure name'}
  %hr    

  = "Do you take prescription medication? "
  %input{id: 'take_prescription', name: 'take_prescription', type: 'hidden'}
  = render 'dropdown', {dropdown_id: 'take_prescription_choices', dropdown_title: '-select-', options_list: ['Yes', 'No']}
  %p
  %input.largetextarea{type: 'text', disabled: 'true', placeholder: 'Enter the medicines you take (optional)'}
  %hr

  %button.btn.btn-default.submit
    Go  
