- content_for(:main) do 
  %input.agecontrol.form-control{name: 'age',  type: 'text', placeholder: 'Enter your age', value: session[:current_info]['age']}
  .nextline
    .forms-checkbox
      Myself
      = check_box_tag 'shop_for[]', 'myself', (session[:current_info]['shop_for'] && session[:current_info]['shop_for'].include?('myself'))
    .forms-checkbox
      My Children
      = check_box_tag 'shop_for[]', 'my children', (session[:current_info]['shop_for'] && session[:current_info]['shop_for'].include?('my children'))
    .forms-checkbox
      Other Adults  
      = check_box_tag 'shop_for[]', 'other adults', (session[:current_info]['shop_for'] && session[:current_info]['shop_for'].include?('other adults'))
  .boxtitle
    Number of Dependents  
  %div
    %input.noc-control.form-control{name: 'number_of_children', type: 'text', value: session[:current_info]['number_of_children'] == 0 ? '' : session[:current_info]['number_of_children'], placeholder: 'Dependents (26 and under)', style: 'width: 290px;'}
  .input-group{style: 'margin-top: 20px;'}
    %div
      %input.noa-control.form-control{name: 'number_of_adults', type: 'text', value: session[:current_info]['number_of_adults'] == 0 ? '' : session[:current_info]['number_of_adults'], placeholder: 'Adult Dependents', style: 'width: 290px;'}
    %span.input-group-btn
      %button.btn.btn-default.submit
        Next
