= content_for :main do 
  = "What is your annual family income? "
  %input#income.zipinput.inline.form-control{name: 'income',  type: 'text', placeholder: '', value: @page_data[:current_info][:income]}
  %button.btn.btn-default.submit
    Go  

= content_for :suffix_form_content do 
  .interstitial
    Warning: not entering your annual income prevents us from determining whether you are eligible for a government subsidy that reduces the cost of your health insurance premium
    %p
    .bold-text
      Are you sure you want to skip this step?
    .dialog-set
      .empty-div
        Empty div
      .dialog-button.dialog-preferred
        No, I'll enter my income.
      .dialog-button.dialog-nonpreferred
        Yes, skip this step.
        
