= content_for :main do
  .input-group  
    %input#income.income-control.zipinput.inline.form-control{name: 'income',  type: 'text', placeholder: 'Enter your annual income', value: session[:current_info]['income'] != -1 ? session[:current_info]['income'] : '', style: 'width: 350px; padding-left: 50px;'}
    %span.input-group-btn
      %button.btn.btn-default.submit
        Next  

= content_for :suffix_form_content do 
  .interstitial
    Warning: not entering your annual income prevents us from determining whether you are eligible for a government subsidy that reduces the cost of your health insurance premium
    %p
    .bold-text
      Are you sure you want to skip this step?
    .dialog-set
      .empty-div
        Empty div
      .dialog-button.dialog-preferred
        No, I'll enter my income.
      .dialog-button.dialog-nonpreferred
        Yes, skip this step.
        
