- content_for(:main) do 
  = "I am"
  %input.ageinput.inline.form-control{name: 'age',  type: 'text', placeholder: ''}
  years old, and I'm looking to 

  %span.explain_text
    provide coverage
    .help_text
      This is where the help would go typically.
  to

  = render 'dropdown', {dropdown_id: 'shop_for_choices', dropdown_title: '-select-', options_list: ['my family', 'myself']}
  %input{id: 'shop_for', name: 'shop_for', type: 'hidden'}

  %p
  .family-info
    In our family, we have 
    = render 'dropdown', {dropdown_id: 'number_of_children_choices', dropdown_title: '0', options_list: ['0', '1', '2' , '3 or more']}
    children.
    %input{id: 'family_other_adult', name: 'number_of_children', value: '0', type: 'hidden'}
    %p
  %button.btn.btn-default.submit
    Go  
