.results-bg
  .row.results-row
    .col-xs-3
    .col-xs-6.info-box
      .bold-text
        REFINE THE RESULTS

      .row.checkboxes
        .col-xs-6
          %span.box.unselected
            &nbsp;X
          %span.box-label
            I am a smoker  
        .col-xs-6
          %span.box.unselected
            &nbsp;X
          %span.box-label
            I have an ongoing illness
    .col-xs-3
      
  .row.results-row
    .col-xs-3
    .col-xs-6.info-box
    .col-xs-3

  .row.results-row
    .col-xs-3
    .col-xs-6.info-box
    .col-xs-3
