.results-top-bg
  // Need this here to allow interaction of checkboxes with clicks
  #current_info{type: 'hidden', 'data-value' => session[:current_info].to_json}  

  .row.results-row
    .col-xs-2
    .col-xs-8.info-box.info-box-top
      .row
        .col-xs-12.resultrowheader
          Your Healthcare Profile
      .row{style: 'margin-top: 20px;'}
        .col-xs-3
          = image_tag 'disabled/zip.png', class: 'img-responsive inlined middlealign', style: 'width: 40px;'        
          .profiletext.inlined.middlealign
            Zip Code: 95116
            %br
            San Francisco          
        .col-xs-3    
          = image_tag 'disabled/household.png', class: 'img-responsive inlined middlealign', style: 'width: 40px;'
          .profiletext.inlined.middlealign
            Zip Code: 95116
            %br
            San Francisco
        .col-xs-3    
        .col-xs-3    
    .col-xs-2

.results-bottom-bg      
  .row.results-row
    .col-xs-2
    .col-xs-8.info-box
      = render partial:'results_list', locals: {plans: @plans, page_data: @page_data, in_profile_list: false}
    .col-xs-2

  .row.results-row
    .col-xs-2
    .col-xs-8.info-box
    .col-xs-2
