.results-top-bg
  %div{id: 'current_info', type: 'hidden', 'data-value' => @page_data[:current_info].to_json}  
  .row.results-row
    .col-xs-2
    .col-xs-8.info-box
      .bold-text
        REFINE THE RESULTS

      .row.checkboxes
        - @page_data[:checkbox_list].each do |cb|  
          .col-xs-3.popupparent
            %span.popup
              = raw(cb[:popup_html])
            %span.box{id: cb[:id], class: results_refine_selection(cb[:id], @page_data[:current_info])}
              &nbsp;X
            %span.box-label
              = cb[:label]
    .col-xs-2

.results-bottom-bg      
  .row.results-row
    .col-xs-2
    .col-xs-8.info-box
      = render 'results_list'
    .col-xs-2

  .row.results-row
    .col-xs-2
    .col-xs-8.info-box
    .col-xs-2
