.row.hero
  .col-xs-3
    
  .col-xs-8.top-container{style: 'margin-top: 200px;'}
    .row
      .col-xs-1
      .col-xs-8.formbox
        .question-header{style: 'font-size: 60px; line-height: 1em;'}
          = @page_data[:stop_message_header]
      .col-xs-3
    .row
      .col-xs-1
      .col-xs-8.formbox
        .question-subheader{style: 'font-size: 36px;'}
          = @page_data[:stop_message_subheader]
      .col-xs-3

  .col-xs-1
