.row.hero{class: "#{@page_data[:current_page]==1 ? 'homepage-override' : ''}"}
  .titlebox{}
    .home-title
      Easily compare Affordable Care Act health plans.
    .home-subtitle
      Give us your needs, we'll match you with a plan

  .formbox{}
    = render partial: "complex_form_1", layout: 'simple_form_layout'
