.row.hero
  .col-xs-3
    
  .col-xs-8.top-container
    .row
      .col-xs-1
      .col-xs-8.formbox
        .question-subheader
          = @page_data[:question_subheader]
      .col-xs-3
    .row
      .col-xs-1
      .col-xs-8.formbox{style: 'font-size: 14px; width: 70%;'}

        - if @page_data[:current_page]==6
          = render partial: 'no_plans'  
        - else        
          = render partial: "complex_form_#{@page_data[:current_page]}", layout: 'form_layout'
      .col-xs-3

  .col-xs-1
