.row.hero{class: "#{@page_data[:current_page]==1 ? 'homepage-override' : ''}", style: "position: relative;"}
  .formbox{style: 'font-size: 14px; width: 59%; margin-left: 90px;'}
    = render partial: "complex_form_1", layout: 'simple_form_layout'
