@import 'variables';

.navbar-brand {
	padding: 8px 15px;
}
.navbar-default {
	background-color: white;
}
.navbar-default .navbar-nav > li > a  {
	color: black;
}
.navbar-default .navbar-nav > li > a:hover {
	color: pink;
}

.navbar {
	border: none;
	margin-bottom: 5px;
}
.btn-default {
	background-color: $pink-color;	
}

.dropdown-toggle {
	background-color: $lightgrey-color;
	color: black;
}

body {
	font-family: 'Cabin', serif
}

.main {
	background-color: $lightgrey-color;
}

.bold-text {
	font-weight: 700;
}
.large {
	font-size: 1.3em;
}
.shaded {
	background-color: $lightpink-color;
}

// Table decorations
.innercol {
	border-left: solid 1px $lightgrey-color;
	border-right: solid 1px $lightgrey-color;
}
.inline {
	display: inline;
}
