@import 'variables';

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
//		font-family: 'Cabin', serif;
		font-size: 16px;
		background-color: black;

}

.notice-box {
	margin: 10px 0px;
	color: red;
	font-size: 0.9em;
}
.navbar-default .navbar-nav .question_mark {
	max-height: 60px;
	max-width: 60px;
	// The math should work out that the ht avlbl to the image is 28px
	padding: 16px 0px;
}

.explain_text {
	position: relative;
}
.explain_text.highlighted {
	background-color: yellow;
	font-size: 1.1em;
	padding: 3px;
}

.help_text {
	display: none;
	position: absolute;
	top: -65px;
	left: 50px;
	z-index: 2;
	background-color: #FAFAD2;
	padding: 5px;
	width: 400%;
	border-radius: 10px;
	border: black 1px dotted;
}

.navbar-brand {
	padding: 8px 15px;
}
.navbar-default {
	background-color: white;
}
.navbar-default .navbar-nav > li > a  {
	color: black;
}

.nav {
	padding-right: 20px;
}
.navbar-header {
	padding-left: 60px;
}

.navbar {
// Removing default Bootstrap styles
	border-radius: 0px;
	border: none;
	margin-bottom: 0px;
	li.bluetext, li.bluetext a, li.bluetext a:hover {
		color: $new-blue-color;
	}
	li.orangetext, li.orangetext a, li.orangetext a:hover {
		color: $new-orange-color;
	}

	ul.nav {
		margin-top: 22px;
		font-size: 1em;
	}
	.nav > li {
		margin-right: 3px;
		a {
			display: inline-block;
			padding: 0px;
			&:hover {
				font-color: black;
			}
		}
	}
}
.btn-default {
//	background-color: $new-orange-color;	
	background-color: grey;
}

.dropdown-toggle {
	background-color: $lightgrey-color;
	color: black;
}

.main {
	background-color: $lightgrey-color;
//	max-height: 750px;
}

.bold-text {
	font-weight: 700;
}
.large-text, .large {
	@media (min-width: 450px) {
		font-size: 1.3em;
	}
	@media (max-width: 450px) {
		font-size: 1em;
	}
}

.fineprint-text {
	font-size: 0.8em;
}
.shaded {
	background-color: #ffe9e9;
}

// Table decorations
.innercol {
	border-left: solid 1px $lightgrey-color;
	border-right: solid 1px $lightgrey-color;
}
.inline {
	display: inline;
}

.dialog-set {
	margin-top: 20px;
}

.dialog-preferred {
	background-color: $new-orange-color;
}

.dialog-nonpreferred {
	background-color: grey;
}

.empty-div {
	visibility: hidden;
	padding: 5px;
	display: inline-block;
}
.dialog-button {
	float: right;
	margin-left: 10px;
	color: white;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.pink-color {
	color: $pink-color;
}

.orange-color {
	color: $new-orange-color;
}

.footer {
	color: white;
	background-color: black;
	padding: 50px 0 50px 50px;
	.footer-element:after {
		display: inline-block;
		content: '|';
		margin: 0px 5px;
	}
}

.login-info-box {
	margin-top: 10px;
}

.form-control:focus {
	border-color: $new-orange-color;
}


*::-webkit-input-placeholder {
	font-size: 15px;
	color: $new-blue-color;
}

*:-moz-placeholder {
    /* FF 4-18 */
    font-size: 15px;
    color: $new-blue-color;
}

*::-moz-placeholder {
    /* FF 19+ */
    font-size: 15px;
    color: $new-blue-color;
}

.input-group .form-control,  .input-group .form-control:first-child{
	width: 95%;
	margin-right: 5px;
	border-radius: 5px;
}
.input-group .btn, .input-group-btn:last-child > .btn {
	border-radius: 15px;
}
.form-control::-webkit-input-placeholder {
    color: $new-blue-color;
}
.form-control::-moz-placeholder {
    /* FF 19+ */
    color: $new-blue-color;
}

.middlealign {
	vertical-align: middle;
}
.topalign {
	vertical-align: top;
}

.inlined {
	display: inline-block;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: red;
}
