@import 'variables';

.step-circle {
	width: 30px;
	height: 30px;
	background-color: white;
	opacity: 0.5;
	border-radius: 50%;
	margin-left: 10px;
	display: inline-block;
	position: relative;
}
.step-check {
	height: 30px;
	width: 30px;
	top: 0;
	left: 0;
	display: inline-block;
}
.step-now, .step-done {
	opacity: 1;
}

.steps-text {
	margin-top: 20px;
	line-height: 30px;
}

.hero {
	width: 100%;
	height: 500px;
	background-color: peach;
	background:  asset-url("hero01-copy.jpg") no-repeat scroll center center ;
	overflow: hidden;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	background-size: cover;
}

.question-text {
	padding-top: 80px;
	color: white;
	width: 50%;
}

.question-header {
	font-size: 2em;
	margin-bottom: 20px;
}

.current-info {
	color: white;
	margin-bottom: 20px;
}

.question-follow {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 15px;
}
.drop-arrow {
	margin-top: 25px;
}

// For simple form
.zipinput {
	width: 150px;
}

// For complex form box
.complex-form-box {
	padding: 10px;
	background-color: white;
	color: black;
	border-top: 5px solid $pink-color;
}

.ageinput {
	width: 50px;
}
.maritalstatusinput {
	width: 120px;
}
.doctornameinput {
	width: 250px;
	margin-right: 2px;
}

.form-content {
	line-height: 350%;
}

// For testimonials
.testimonial-text {
	font-size: 1.25em;
	font-weight: bold;
}

.testimonial {
	margin-top: 20px;
}

.testimonial:after {
	content: '';
	display: block;
	background-color: grey;
}

.interstitial {
	color: $orange-color;
	display: none; 
}
