@import 'variables';

.step-circle {
	width: 30px;
	height: 30px;
	background-color: white;
	opacity: 0.5;
	border-radius: 50%;
	margin-left: 10px;
	display: inline-block;
	position: relative;
}
.step-check {
	height: 30px;
	width: 30px;
	top: 0;
	left: 0;
	display: inline-block;
}
.step-now, .step-done {
	opacity: 1;
}

.steps-text {
	margin: 20px 0;
	line-height: 30px;
}

.hero {
  margin: 0;
	width: 100%;
	min-height: 690px;
	background-color: peach;
	background: asset-url("retina_background_notext_muted.jpg") no-repeat scroll top center ;
	background-size: cover;
	overflow: auto;
	padding-top: 30px;
	position: relative;
	
	.top-container {
		margin-top: 100px;
		min-width: 550px;
	}
	.formbox {
		font-size: 14px;
		position: absolute;
		top: 50%;
		width: 100%;
	}
  .titlebox {
		color: black;
		margin: 0 auto;
		position: relative;
		top: 150px;
		text-align: center;
		width: 50%;
  }
}


.testimonial-author {
	color: $pink-color;
	text-align: center;
	padding: 20px 0px;
}

.testimonial-picture-row {
	background-color: white;
}

.testimonial-picture {
	border-bottom-color: $darkgrey-color;
	height: 160px;
	// Has to be twice the padding
	border-width: 0 0 80px 0;
	padding: 40px 0;
	border-style: solid;

	&.picture-middle {
		padding: 0px 0;
		background-color: white;
		border-bottom-color: $darkgrey-color;
		border-style: solid;
	}
}
.testimonial-image-holder {
	position: relative;
	top: 25px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border-top-color: white;
	border-bottom-color: $darkgrey-color;
	margin: auto;
}
.question-text {
	display: inline-block;
	color: $new-blue-color;
	margin-top: 50px;
}

.question-header {
	margin-bottom: 20px;
	font-size: 45px;
	text-align: center;
	.back-button-box {
		margin-left: 10px;
		font-size: 0.5em;
		a {
			color: $pink-color;
		}
	}
}

.question-header-inner-page {
	margin-bottom: 20px;
	font-size: 35px;
	text-align: center;
	.back-button-box {
		margin-left: 10px;
		font-size: 0.5em;
		a {
			color: $pink-color;
		}
	}
}

.question-subheader {
	text-align: center;
	font-size: 36px;
}

.question-blank-message {
	text-align: center;
	font-size: 18px;
	background-color: white;
	padding: 20px;
	width: 90%;
}

.current-info {
	color: white;
	min-height: 30px;
	text-align: center;
}

.question-follow {
	font-size: 1.4em;
	margin-bottom: 15px;
	.icon-box {
		position: absolute;
		top: 20px;
	}
}

.drop-arrow {
	margin-top: 25px;
}

// For simple form
.zipinput {
	width: 150px;
}

.zipcodecontrol {
	background: asset-url("zip_small.png") no-repeat scroll white 9px center;
}
.form-control.zipinput.zipcodecontrol {
	line-height: 120%
}
.form-control.zipinput.zipcodecontrol, .btn.btn-default.submit {
	font-size: 160%;
	height: 48px;
	margin: 0 30px;
	width: auto;
}
.homepage-override {
  .form-control.zipinput.zipcodecontrol, .btn.btn-default.submit {
		margin: 0;
  }
}
.home-title {
	font-size: 170%;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
	width: 100%;
}
.home-subtitle {
  font-size: 100%;
  font-weight: lighter;
}
.homepage-override .btn.btn-default.submit {
    background-color: #09A8A8;
  }
.noc-control {
	width: 300px;
	border-radius: 5px;
	background:  asset-url("household_small.png") no-repeat scroll white 5px 5px;
}
.noa-control {
	width: 300px;
	border-radius: 5px;
	background:  asset-url("household_small.png") no-repeat scroll white 5px 5px;
}
.income-control {
	width: 300px;
	border-radius: 5px;
	background:  asset-url("income_small.png") no-repeat scroll white 5px 5px;
}
.agecontrol {
	width: 300px;
	border-radius: 5px;
	background:  asset-url("household_small.png") no-repeat scroll white 5px 5px;	
}
.proc_control {
	width: 300px;
	border-radius: 5px;
}
.zipcodecontrol.form-control, .noa-control.form-control, .noc-control.form-control, .agecontrol.form-control {
	padding-left: 50px;
}

.dollar-sign {
	display: inline-block;
	font-size: 1.3em;
	margin: 0px 10px;
}
// For complex form box
.complex-form-box {
	background-color: white;
	border-top: 5px solid $new-blue-color;
	display: inline-block;
	width: 100%;
	padding: 10px;
	.icon-row {
		width: 100%;
		display: block;
		position: absolute;
		top: -50px;
	}
	.current-icon-line {
		margin: 10px 0px;
	}

	ul.token-input-list {
		border-radius: 10px;
	}

	.btn.dropdown-toggle {
		float: none;
	}

	input {
		height: 47px;
	}
}

.homepage-override .input-group {
	text-align: center;
}

.input-group {
	width: 100%;
}

.form-content .input-group,
.form-content .input-group .zipcodecontrol,
.form-content .input-group-btn {
	display: inline-block;
}

.input-group-btn {
  width: auto;
}

.button.btn.btn-default.submit {
	width: 150px;
	font-size: 22px;
	background-color: grey;
}

.btn.btn-default.submit {
	border-radius: 0;
}

.icon-box {
	width: 90px;
	height: 90px;
	border: 2px solid $new-blue-color;
	border-radius: 50%;
	background-color: white;
	position: relative;
	margin: auto;
	img {
		position: absolute;
		top: 16%;
		left: 16%;
		width: 60px;
	}

	.editbutton {
		border-radius: 7px;
		background-color: black;
		color: white;
		position: absolute;
		top: 45%;
		left: 16%;
		padding: 3px 20px;
		font-size: 12px;
	}
}
.icon-complete {
	border-color: $icon-complete-gray;
	background-color: $icon-complete-gray;
}

// Override stuff for first page
.hero.homepage-override {
	background: asset-url("retina_background_notext_muted.jpg") no-repeat scroll top center ;
	background-size: cover;
}

.hero.homepage-override .question-follow {
	display: none;
}

.complex-form-box.homepage-override {
	background-color: transparent;
	border-top: none;
}

.forms-checkbox {
	display: inline-block;
	margin-right: 5px;
	vertical-align: none;
	.checkbox {
		margin-top: none;
	}
}

input[type=text] {
	padding-left: 5px;
}

.ageinput {
	width: 50px;
}
.maritalstatusinput {
	width: 120px;
}
.largetextarea {
	width: 300px;
	margin-right: 2px;
}

.form-content {
	line-height: 350%;

	button {
		padding: 8px 33px;
		font-size: 18px;
	}
}

// For testimonials
.testimonial-text {
	font-weight: bold;
}

.testimonial {
	margin-top: 20px;
}

.testimonial:after {
	content: '';
	display: block;
	background-color: grey;
}

.interstitial {
	color: $orange-color;
	display: none; 
}

.inputboxes {
	line-height: 1em;
}
.boxtitle {
	margin-bottom: 10px;
	font-weight: bold;
	color: $new-blue-color;
	font-size: 18px;
}

.helpbox {
	font-size: 0.9em;
	color: #000;
	margin-bottom: 3px;
	font-weight: italic;
}
.family-info {
	margin-left: 30px;
	display: none;
}
.medication-info {
	display: none;
}

// For jQUI auto complete

.ui-front {
	background-color: #eee;
	border-radius: 10px;
	border: #000 solid 1px;
	max-width: 250px;
	
	padding-left: 15px;
	li {
		list-style-type: none;
		cursor: pointer;
	}
}

.orange-border {
	border-color: $new-orange-color;
}
