@import 'variables';

.step-circle {
	width: 30px;
	height: 30px;
	background-color: white;
	opacity: 0.5;
	border-radius: 50%;
	margin-left: 10px;
	display: inline-block;
	position: relative;
}
.step-check {
	height: 30px;
	width: 30px;
	top: 0;
	left: 0;
	display: inline-block;
}
.step-now, .step-done {
	opacity: 1;
}

.steps-text {
	margin: 20px 0;
	line-height: 30px;
}

.hero {
	width: 100%;
	min-height: 500px;
	background-color: peach;
	background:  asset-url("hero01.jpg") no-repeat scroll top left ;
	overflow: hidden;
	
}

.testimonial-author {
	color: $pink-color;
	text-align: center;
	padding: 20px 0px;
}

.testimonial-picture-row {
	background-color: white;
}

.testimonial-picture {
	border-bottom-color: $darkgrey-color;
	height: 160px;
	// Has to be twice the padding
	border-width: 0 0 80px 0;
	padding: 40px 0;
	border-style: solid;

	&.picture-middle {
		padding: 0px 0;
		background-color: white;
		border-bottom-color: $darkgrey-color;
		border-style: solid;
	}
}
.testimonial-image-holder {
	position: relative;
	top: 25px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border-top-color: white;
	border-bottom-color: $darkgrey-color;
	margin: auto;
}
.question-text {
	padding-top: 80px;
	color: white;
	width: 50%;
}

.question-header {
	font-size: 2em;
	margin-bottom: 20px;
}

.current-info {
	color: white;
	margin-bottom: 20px;
}

.question-follow {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 15px;
}
.drop-arrow {
	margin-top: 25px;
}

// For simple form
.zipinput {
	width: 150px;
}

// For complex form box
.complex-form-box {
	padding: 10px;
	background-color: white;
	color: black;
	border-top: 5px solid $pink-color;
}

input[type=text] {
	padding-left: 5px;
}

.ageinput {
	width: 50px;
}
.maritalstatusinput {
	width: 120px;
}
.largetextarea {
	width: 300px;
	margin-right: 2px;
}

.form-content {
	line-height: 350%;
}

// For testimonials
.testimonial-text {
	font-weight: bold;
}

.testimonial {
	margin-top: 20px;
}

.testimonial:after {
	content: '';
	display: block;
	background-color: grey;
}

.interstitial {
	color: $orange-color;
	display: none; 
}

.family-info {
	margin-left: 30px;
	display: none;
}

// For jQUI auto complete

.ui-front {
	background-color: #eee;
	border-radius: 10px;
	border: #000 solid 1px;
	max-width: 250px;
	
	padding-left: 15px;
	li {
		list-style-type: none;
		cursor: pointer;
	}
}