@import 'variables';

.step-circle {
	width: 30px;
	height: 30px;
	background-color: white;
	opacity: 0.5;
	border-radius: 50%;
	margin-left: 10px;
	display: inline-block;
	position: relative;
}
.step-check {
	height: 30px;
	width: 30px;
	top: 0;
	left: 0;
	display: inline-block;
}
.step-now, .step-done {
	opacity: 1;
}

.steps-text {
	margin: 20px 0;
	line-height: 30px;
}

.hero {
	&.row {
		margin-left: 0px;
	}
	width: 100%;
	min-height: 500px;
	background-color: peach;
	background:  asset-url("hero04.jpg") no-repeat scroll top left ;
	overflow: hidden;
	
}

.testimonial-author {
	color: $pink-color;
	text-align: center;
	padding: 20px 0px;
}

.testimonial-picture-row {
	background-color: white;
}

.testimonial-picture {
	border-bottom-color: $darkgrey-color;
	height: 160px;
	// Has to be twice the padding
	border-width: 0 0 80px 0;
	padding: 40px 0;
	border-style: solid;

	&.picture-middle {
		padding: 0px 0;
		background-color: white;
		border-bottom-color: $darkgrey-color;
		border-style: solid;
	}
}
.testimonial-image-holder {
	position: relative;
	top: 25px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border-top-color: white;
	border-bottom-color: $darkgrey-color;
	margin: auto;
}
.question-text {
	padding: 0px 0px 30px;
	display: inline-block;

}

.question-header {
	font-size: 2em;
	margin-bottom: 40px;
	.back-button-box {
		margin-left: 10px;
		font-size: 0.5em;
		a {
			color: $pink-color;
		}
	}
}

.current-info {
	color: white;
	margin-bottom: 20px;
}

.question-follow {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 15px;

	.icon-box {
		position: absolute;
		top: 20px;
	}
}
.drop-arrow {
	margin-top: 25px;
}

// For simple form
.zipinput {
	width: 150px;
}

.dollar-sign {
	display: inline-block;
	font-size: 1.3em;
	margin: 0px 10px;
}
// For complex form box
.complex-form-box {
	padding: 10px 30px 10px 10px;
	background-color: white;
	color: black;
	border-top: 5px solid $pink-color;
	display: inline-block;
	position: relative;
	padding-top: 30px;
	min-width: 350px;

	.icon-row {
		width: 100%;
		display: block;
		position: absolute;
		top: -30px;
	}
	.current-icon-line {
		margin: 10px 0px;
	}

	.icon-box {
		display: inline-block;
		width: 60px;
		height: 60px;
		border: 1px solid green;
		border-radius: 50%;
		margin-right: 10px;
		background-color: white;
		position: relative;
		img {
			position: absolute;
			top: 16%;
			left: 16%;
			max-height: 40px;
		}

	}
}

.forms-checkbox {
	display: inline-block;
	margin-right: 5px;
	vertical-align: none;
	.checkbox {
		margin-top: none;
	}
}

input[type=text] {
	padding-left: 5px;
}

.ageinput {
	width: 50px;
}
.maritalstatusinput {
	width: 120px;
}
.largetextarea {
	width: 300px;
	margin-right: 2px;
}

.form-content {
	line-height: 350%;
}

// For testimonials
.testimonial-text {
	font-weight: bold;
}

.testimonial {
	margin-top: 20px;
}

.testimonial:after {
	content: '';
	display: block;
	background-color: grey;
}

.interstitial {
	color: $orange-color;
	display: none; 
}

.inputboxes {
	line-height: 1em;
}
.boxset {
	display: inline-block;
	margin-right: 10px;
}

.helpbox {
	font-size: 0.9em;
	color: #000;
	margin-bottom: 3px;
	font-weight: italic;
}
.family-info {
	margin-left: 30px;
	display: none;
}
.medication-info {
	display: none;
}

// For jQUI auto complete

.ui-front {
	background-color: #eee;
	border-radius: 10px;
	border: #000 solid 1px;
	max-width: 250px;
	
	padding-left: 15px;
	li {
		list-style-type: none;
		cursor: pointer;
	}
}