@import 'variables';

.results-bg {
	width: 100%;
	height: 100%;
	padding: 10px 0;
}
.info-box:before {
	content: '';
	display: block;
	position: relative;
	top: -5px;
	left: -15px;
	width: 104.5%;
	background-color: $pink-color;
	height: 5px;
}

.info-box {
	background-color: white;
	padding: 5px 15px 15px;
	margin-top: 20px;
}


.checkboxes {
	.box {
		border-radius: 2px;
		margin-right: 5px;
		padding: 2px;
		cursor: pointer;
	}
	.unselected {
		color: $lightgrey-color;
		background-color: $lightgrey-color;
	}
	.selected {
		color: white;
		background-color: $pink-color;
	}
}

.rescol {
	padding: 10px 0 10px 10px;
	border-left: solid 1px $lightgrey-color;
}

.result-deets {
	margin-bottom: 10px;
}

.headerrow {
	border-bottom: solid 1px $lightgrey-color;
}

.resulttag {
	float: right;
	padding: 2px;
	background-color: $orange-color;
	color: white;
	margin-top: 5px;
	margin-right: 5px;
	min-width: 40px;
	text-align: center;
}