@import 'variables';

.results-top-bg {
	width: 100%;
	padding: 10px 0 20px;
	background-color: black;

	.additional_info {
		display: none;
	}

	.resultrowheader {
		color: $new-blue-color;
		font-weight: bold;
	}
}

.results-bottom-bg {
	width: 100%;
	height: 100%;
	padding: 10px 0;
}

.plan-name {
	display: block;
	margin-top: 15px;
}
.info-box {
	background-color: white;
	padding: 5px 15px 15px;
	margin-top: 20px;
	border-top: solid 5px $new-orange-color;
}

.info-box.info-box-top {
	border-top: solid 5px $new-blue-color;	
}

.popupparent {
	position: relative;
}

.action-box {
	background-color: $new-orange-color;
	color: white;
	padding: 2px;
	margin-left: -5px;
	margin-right: 5px;
	border-radius: 5px;
	text-align: center;
	margin-top: 10px;
	cursor: pointer;
	border: none;

	a.plain-a, a.plain-a:visited, a.plain-a:hover {
		color: white;
	}
}

.save-plan {
	color: $new-blue-color;
	font-size: 13px;
	margin-top: 20px;
	cursor: pointer;
}


.rescol {
	padding: 10px 0 10px 10px;
	border-left: solid 1px $lightgrey-color;
}

.result-deets {
	margin-bottom: 10px;
	position: relative;
}

.headerrow {
	border-bottom: solid 1px $lightgrey-color;
}

.resulttag {
	float: right;
	padding: 2px;
	background-color: $orange-color;
	color: white;
	margin-top: 5px;
	margin-right: 5px;
	min-width: 40px;
	text-align: center;
}

.demographic-titles {
	margin-top: 20px;
}
.demographic-data {
	input {
		background-color: $lightgrey-color;
	}
	.btn {
		padding: 2px 6px;
	}
	margin-bottom: 20px;
}

input.action-box {
	margin-top: 0;
}
/* Ribbon start */

.ribbon {
  position:relative;
  display:inline-block;
  height:36px;
  line-height:36px;
  color:#fff;
  font-size:14px;
  font-style:italic;
  text-shadow:0 1px 0 rgba(0,0,0,.3);
  padding:0 10px 0 25px;
  z-index:3;
  left:-40px;
}
.ribbon.none {
	display: none;
}
.ribbon.best {
	background: $pink-color;
}
.ribbon.best:before {
	border-color: transparent $darkpink-color transparent transparent;
}
.ribbon.best:after {
	border-color: transparent transparent transparent $pink-color;
}
.ribbon.good {
	background:$orange-color;
}
.ribbon.good:before {
	border-color: transparent $darkorange-color transparent transparent;
}
.ribbon.good:after {
	border-color: transparent transparent transparent $orange-color;
}
.ribbon:after {
  content:'';
  position:absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 18px 0 18px 15px;
  top:0;
  right:-15px;
}

.ribbon:before {
  content:'';
  position:absolute;
  left:0;
  bottom:-27px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 26px 27px 0;
  z-index:2;
}

.ribbon .ribbon-stitches-top {
  position:absolute;
  bottom:-27px;
  left:-25px;
  height:35px;
  width:51px;
  z-index:1;
}

.ribbon .ribbon-stitches-top:before {
  content:'';
  position:absolute;
  left:-14px;
  top:0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 14px 16px 0;
}
.ribbon .ribbon-stitches-top:after {
	content:'';
	position:absolute;
	bottom:0;
	left:-11px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 0 18px 11px;
}

.ribbon.best .ribbon-stitches-top {
	background: $pink-color;
}
.ribbon.best .ribbon-stitches-top:after {
	border-color: transparent transparent $pink-color transparent;
}
.ribbon.best .ribbon-stitches-top:before {
	border-color: transparent $pink-color transparent transparent;
}

.ribbon.good .ribbon-stitches-top {
	background: $orange-color;
}
.ribbon.good .ribbon-stitches-top:after {
	border-color: transparent transparent $orange-color transparent;
}
.ribbon.good .ribbon-stitches-top:before {
	border-color: transparent $orange-color transparent transparent;
}


/*================== RIBBON===================*/
