$darkpink-color: #d03473;
$pink-color: #ee5190;
$lightgrey-color: #eee;
$lightpink-color: #fff2f2;
$orange-color: #ffa800;
$darkorange-color: #cf7c00;
$darkgrey-color: #555;
$blue-color: #56B8E6;

$icon-complete-gray: #c5c5c5;
$new-blue-color: #09A8A8;
$new-orange-color: #ec6723;