.row.footer
  .col-xs-4
  .col-xs-2
    %h5
      ABOUT US
    %ul.unstyled-list
      %li
        Partners
      %li
        Team
      %li
        Our Approach
      %li
      Zero Divide
  .col-xs-1
  .col-xs-2
    %h5
      CONTACT
    %ul.unstyled-list
      %li  
        Email
      %li
        Call Us: 415-999-8765
      %li
        123 Main St.
      %li
        San Francisco, CA 94102  
  .col-xs-3
