.row.footer
  .col-xs-12
    ABOUT US
  .col-xs-12
    %span.footer-element  
      Partners
    %span.footer-element  
      Team
    %span.footer-element  
      Our Approach
    %span.footer-element  
      Zero Divide

      
